<nb-card>
  <nb-card-body>
    <form class="row" [formGroup]="newProductForm" (ngSubmit)="addNewProduct()">
      <div class="mb-3 col-12 col-md-6">
        <label class="form-label" for="fname">Product name</label>
        <input
          type="text"
          id="fname"
          fullWidth
          formControlName="name"
          nbInput
          class="form-control"
          placeholder="Product Name"
          required
        />
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label class="form-label" for="lname">Product price</label>
        <input
          type="number"
          fullWidth
          id="lname"
          formControlName="price"
          nbInput
          class="form-control"
          placeholder="Product price"
          required
        />
      </div>
      <div class="row">
        <div class="mb-3 col-12 col-md-6">
          <label class="form-label" for="lname">Product category</label>
          <nb-select
            multiple
            placeholder="Category"
            fullWidth
            formControlName="categories"
          >
            <nb-option
              value="{{ category.name }}"
              *ngFor="let category of categories$ | async"
              >{{ category.name }}</nb-option
            >
          </nb-select>
        </div>
        <div class="mb-3 col-12 col-md-6">
          <label class="form-label" for="quantity">Product quantity</label>
          <input
            type="number"
            id="quantity"
            fullWidth
            formControlName="quantity"
            nbInput
            class="form-control"
            placeholder="Product quantity"
            required
          />
        </div>
      </div>
      <div class="mb-3 col-12 col-md-6">
        <div class="row">
          <div class="col-8">
            <label class="btn btn-default p-0">
              <input
                type="file"
                accept="image/*"
                multiple
                (change)="selectFiles($event)"
              />
            </label>
          </div>
        </div>
      </div>
      <div class="previews">
        <img *ngFor="let preview of previews" [src]="preview" class="preview" />
      </div>
      <div class="mb-3 col-12 col-md-12">
        <label class="form-label" for="address1">Tags</label>
        <nb-tag-list (tagRemove)="onTagRemove($event)">
          <nb-tag *ngFor="let tag of tags" [text]="tag" removable></nb-tag>
          <input
            type="text"
            nbTagInput
            (tagAdd)="onTagAdd($event)"
            fullWidth
            formControlName="tags"
          />
        </nb-tag-list>
      </div>
      <div class="mb-3 col-12 col-md-12">
        <label class="form-label" for="description">Short Description</label>
        <textarea
          name=""
          nbInput
          fullWidth
          id="short-description"
          cols="30"
          rows="3"
          formControlName="shortDescription"
        ></textarea>
      </div>
      <div class="mb-3 col-12 col-md-12">
        <label class="form-label" for="description">Long Description</label>
        <textarea
          name=""
          nbInput
          fullWidth
          id="description"
          formControlName="longDescription"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <div class="mb-3 col-12 col-md-12">
        <nb-checkbox
          status="info"
          class="mb-3"
          (checkedChange)="changeHasMoreInfoValue()"
          >Product has more information</nb-checkbox
        >
        <div class="mb-3 col-12 col-md-12" *ngIf="hasMoreInfo">
          <div class="mb-3 col-12 col-md-12">
            <label class="form-label" for="address1">Colors</label>
            <nb-tag-list (tagRemove)="onColorRemove($event)">
              <nb-tag
                *ngFor="let color of colors"
                [text]="color"
                removable
              ></nb-tag>
              <input
                type="text"
                nbTagInput
                formControlName="colors"
                (tagAdd)="onColorAdd($event)"
                fullWidth
              />
            </nb-tag-list>
          </div>
          <div class="mb-3 col-12 col-md-12">
            <label class="form-label" for="address1">Sizes</label>
            <nb-tag-list (tagRemove)="onSizeRemove($event)">
              <nb-tag
                *ngFor="let size of sizes"
                [text]="size"
                removable
              ></nb-tag>
              <input
                type="text"
                nbTagInput
                formControlName="sizes"
                (tagAdd)="onSizeAdd($event)"
                fullWidth
              />
            </nb-tag-list>
          </div>
        </div>
      </div>
      <button nbButton type="submit" hero status="success">Submit</button>
    </form>
  </nb-card-body>
</nb-card>
