<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<nb-layout>
  <nb-layout-header fixed>
    <div
      class="header w-full"
      style="box-shadow: 0 0 0 white; left: 0; right: 0"
    >
      <div class="left">
        <div class="logo">
          <a href="" class="desktop">
            <span>Aphrinix</span>
          </a>
          <a href="" class="mobile">
            <span>A</span>
          </a>
        </div>

        <button nbButton shape="semi-round" status="success" (click)="toggle()">
          <nb-icon icon="menu"></nb-icon>
        </button>

        <nb-search style="margin-left: 4px" type="rotate-layout"></nb-search>
      </div>
      <div class="right">
        <div class="profile" style="display: flex; align-items: center">
          <nb-user
            name="{{ user.firstname }} {{ user.lastname }}"
            title="{{ user.email }}"
            [nbContextMenu]="contextMenuItems"
            picture="{{ user.photoUrl == '' ? '' : user.photoUrl }}"
            nbContextMenuTag="my-context-menu"
          >
          </nb-user>
        </div>
      </div>
    </div>
  </nb-layout-header>
  <nb-sidebar fixed responsive="true" state="collapsed">
    <nb-menu [items]="items" autoCollapse="true"> </nb-menu>
    <nb-sidebar-footer> &copy;Aphrinix 2022 </nb-sidebar-footer>
  </nb-sidebar>

  <nb-layout-column contenteditable>
    <div class="red">
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>
</nb-layout>
